extends layout

block content
  div(class="measurement circleBase")
    span(class="value", id="temperature")
      | 0

  div(class="measurement circleBase")
    span(class="value", id="light")
      | H
    