doctype 5
html
  head
    title HouseMgmt: #{title}
    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Baumans")
    link(rel="stylesheet", type="text/css", href="/stylesheets/housemgmt.css")

    script(type="text/JavaScript", src="/javascripts/jquery.js")
    script(type="text/JavaScript", src="/javascripts/housemgmt.js")

    <meta name="robots" content="noindex">
    <meta name="viewport" content="initial-scale=1.0,width=device-width">
    
  body
    block content